.page-header {
    height: 80px;
    background-image: url("F1_logo.svg");
    background-position: 88% 50%;
    background-repeat: no-repeat;
    background-size: 8%;
}

body {
    text-align: center;
    font-size: larger;
}

.operations {
    color: tomato;
}