.page-header {
    height: 87px;
    background-image: url("F1_logo.svg");
    margin: auto;
    background-position: right;
    background-repeat: no-repeat;
    background-size: 8%;
}

body {
    text-align: center;
    font-size: larger;
}

.operations {
    color: tomato;
}