:root{
    --red: #db2c20;
    --blue:#2d4cb3;
    --lightblue: #5e75c0;
}

.page-header {
    height:80px;
    background-image: url("F1_logo.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 8.5%;
    color: var(--red);
}

body {
    color:var(--lightblue);
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

body:before{
    content: "";
    background-image: url("background.jpeg");
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: .2;
}

.operations {
    color: var(--blue);
}