:root{
    --red: #db2c20;
    --blue:#2d4cb3;
    --royalblue: #4169e1
}

.page-header {
    height:80px;
    background-image: url("F1_logo.svg");
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 8.5%;
    color: var(--red);
}

.body1 {
    color:var(--royalblue);
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.body1:before{
    content: "";
    background-image: url("background.jpeg");
    height: 100%;
    width: 100%;
    background-attachment: fixed;
    position: absolute;
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: .2;
}

.operations {
    color: var(--blue);

}

.center{
    margin-left: auto;
    margin-right: auto;
}

.body0 {
    color:var(--royalblue);
    text-align: center;
    font-size: larger;
    font-weight: bolder;
}

.body0:before{
    content: "";
    background-image: url("mainPG.jpg");
    position: absolute;
    background-size: cover;
    background-attachment: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    opacity: .2;
}

.display-inline {
    display: inline-block;
  }

a {
    text-align: left;
}
  